* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  background: linear-gradient(25deg,#ffffff 50%, #ffffff 300%) !important;
  p {
    font-family: $font-family-sans-serif ;
  }
}


.skills-heading {
  text-align: center; /* Centraliza o texto */
  font-size: 48px; /* Ajuste o tamanho da fonte conforme necessário */
  /* Outras propriedades de estilo, se necessário */
}

.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px; /* Ajuste conforme necessário */
  border-bottom: 1px solid #ccc; /* Adicione uma borda inferior para separar os itens da lista */
}

.skill-name {
  flex-grow: 1; /* Ocupa o espaço disponível, empurrando o botão para o final */
  margin-right: 10px; /* Adiciona um espaçamento à direita para separar o texto do botão */
}

.add-skill-form {
  margin-left: auto; /* Move o botão para a direita */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}
@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}
.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}
@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.landing-page header .links {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}
.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}
.landing-page header .links li:last-child {
  border-radius: 50px;
  padding: 5px 30px;
  color: #FFF;
  background-color: #6c63ff;
  a {
    color: #ffffff;
  }
}

.dropdown-menu {
  background-color: #6c63ff;
  border-radius: 20px;
}


.landing-page header .links li:not(:last-child):hover {
  color: #6c63ff;
}
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 1175px);
}
@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px
  }
}
.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 50px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
  a {
    color: white;
  }
}
.landing-page .content .image img {
  max-width: 100%;
}
/* End Landing Page */

@media (max-width: 767px) {
  .landing-page .content .find {
    text-align: center;
    margin-bottom: 15px
  }
}
.landing-page .content .find h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .find p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
.landing-page .content .find button {
  border: 0;
  border-radius: 50px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
}
.landing-page .content .image img {
  max-width: 100%;
  border-radius: 20px;
}
// ----------------------------------------------------

@media (max-width: 767px) {
  .card .card-content .find {
    text-align: center;
    margin-bottom: 15px;
  }
}

.card .card-content .find h1 {
  color: #5d5d5d;
  font-size: 44px;
}

.card .card-content .find p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.card .card-content .find button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;

}

.card .card-content .image img {
  max-width: 100%;
  border-radius: 20px;
}


:root{
  --background-dark: #ffffff;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.hero-section{
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  width: 100%;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-category{
  list-style: none;
  position: relative;
}

.card-category:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card-category:hover .card__background{
  transform: scale(1.05) translateZ(0);
}


.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

// ------------------------footer-------------------------------------------------

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background-image: linear-gradient(#ffffff 50%, #6c63ff 300%);
  position: relative;
}
.footer-cta {
border-bottom: 1px solid #6c63ff;
}
.single-cta i {
color: #6c63ff;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
a {
  color: #757575;
}
}
.cta-text h4 {
color: #6c63ff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #6c63ff;
display: block;
font-size: 20px;
font-weight: 700;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #6c63ff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #6c63ff;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #6c63ff;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #ffffff;
border: 1px solid #6c63ff;
border-radius: 15px;
color: #6c63ff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #6c63ff;
  padding: 13px 20px;
  border: 1px solid #6c63ff;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #6c6969;
text-align: center !important;
}
.copyright-text p a{
color: #6c63ff;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #6c63ff;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
.btn-companies{
  border: 0;
  border-radius: 50px;
  padding: 12px 30px;
  margin-top: 30px;
  display: inline-block;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
}
.btn-jobs{
  border: 0;
  border-radius: 50px;
  padding: 12px 30px;
  margin-top: 30px;
  display: inline-block;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
}
