<div class="container">

<h1>Habilidades do Usuário</h1>
<hr>

<% if @skills.any? %>
  <ul>
    <% @skills.each do |skill| %>
      <li><%= skill.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>O usuário não possui habilidades cadastradas.</p>
<% end %>
</div>
