<div class="card-container">
<%# <%= cl_image_tag current_user.photo.key, height: 200, width: 200, class:"round", crop: :fill %>
  <h3><%= @user.full_name %></h3>
  <h6><%= @user.email %></h6>
  <h6>*SEEDS LOCAL DO USERS*</h6>
  <p>*SEEDS DESCRIÇÃO DO USER<br/>*DESCRIÇÃO*</p>
  <div class="buttons">
    <button class="primary">
      <a href="skills" class="add-skills">Add Skills</a>
    </button>
    <button class="primary ghost">
      <a href="jobs" class="go-to-jobs">Match jobs</a>
    </button>
  </div>
  <div class="skills">
    <h6>Skills</h6>
    <% if @skills.any? %>
      <ul>
        <% @skills.each do |skill| %>
          <li><%= skill.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>The user does not have registered skills.</p>
    <% end %>
  </div>
</div>
