<div class="container skills">

  <h1> Skills </h1>
  <hr>
  <div>
    <ul>
      <% @skills.each do |skill| %>
        <li class="skill-item">
          <span class="skill-name"><%= skill.name %></span>
          <%= form_tag add_to_user_skill_path(skill), method: :post, class: "add-skill-form" do %>
            <div class="form-group">
              <%= submit_tag "Add to My Skills", class: "btn btn-light" %>
            </div>
          <% end %>
        </li>
      <%end %>
    </ul>
    <hr>
    <%= link_to "Back to Profile", user_skills_path %>

  </div>
</div>
