<div class="row">
<div class="modal-header text-center">
  <h3 class="modal-title w-100">Add Your Skills</h3>
</div>
  <% @skills.each do |skill| %>
    <div class="col-12 col-md-4">
      <div class="ag-courses_item">
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
            <div class="ag-courses-item_title">
              <%= skill.name %>
            </div>
          </a>
        </div>
      </div>
    </div>
    <%end %>
    <div class="modal-header text-center">
    <%= link_to "Back to Profile", user_skills_path, class:"modal-title w-100" %>
    </div>
</div>
