  <header>
    <div class="container">
    <%= link_to root_path, class:"logo" do %><%= image_tag "logo_icon.png", width: 60 %><% end %>
          <ul class="links">
          <li>Home</li>
          <li>About Us</li>
          <li>Work</li>
          <li>Info</li>
          <li>Get Started</li>
          </ul>
    </div>
  </header>
