<div class="container">
    <h1 class="skills-heading">About Us</h1>
<hr>

    <p>Welcome to <strong>Filter&Find</strong>, where we believe in connecting talent with opportunity. Our platform is designed to simplify the job search process, making it easier for both job seekers and employers to find their perfect match.</p>

    <p>At <strong>Filter&Find</strong>, we understand the challenges of job hunting and the complexities of talent acquisition. That's why we've developed a user-friendly interface that provides a seamless experience for job seekers to explore diverse opportunities across various industries and locations.</p>

    <p>Our mission is to bridge the gap between employers and job seekers by offering a comprehensive platform that showcases a wide array of job listings. Whether you're a recent graduate stepping into the professional world or a seasoned professional looking for a career change, <strong>Filter&Find</strong> is the place where your career aspirations meet reality.</p>

    <p>We pride ourselves on our commitment to delivering quality service, ensuring that both job seekers and employers receive the support they need throughout their hiring or job-seeking journey. Our dedicated team works tirelessly to enhance our platform's functionality and keep it up-to-date with the latest trends in the job market.</p>

    <p>Join us at <strong>Filter&Find</strong> and embark on a journey where talent meets opportunity, and where the perfect career match is just a click away.</p>

    <p>Thank you for choosing <strong>Filter&Find</strong> as your partner in your career endeavors.</p>
</div>

<div class="cards-container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class= "card card-two">
        <header>
          <div class="avatar">
            <%= image_tag "nando.jpg", width: 100 %>
          </div>
        </header>
        <h3>Luiz Fernando</h3>
        <div class="desc">
          DESCRIÇÃO NANDO
        </div>
        <div class="contacts">
          <a href=""><i class="fa-brands fa-github"></i>
          <a href=""><i class="fa-brands fa-linkedin"></i>
          <a href=""><i class="fa-solid fa-envelope"></i>
          <div class="clear"></div>
        </div>
        <footer></footer>
      </div>

      <div class=" card card-two">
        <header>
          <div class="avatar">
            <%= image_tag "yan.jpg", width: 100 %>
          </div>
        </header>
        <h3>Yan Monteiro</h3>
        <div class="desc">
          DESCRIÇÃO YAN
        </div>
        <div class="contacts">
          <a href=""><i class="fa-brands fa-github"></i>
          <a href=""><i class="fa-brands fa-linkedin"></i>
          <a href=""><i class="fa-solid fa-envelope"></i>
        </div>
        <footer></footer>
      </div>

      <div class=" card card-two">
        <header>
          <div class="avatar">
            <%= image_tag "paraiso.jpg", width: 100 %>
          </div>
        </header>
        <h3>Felipe Paraíso</h3>
          <div class="desc">
            DESCRIÇÃO PARAÍSO
          </div>
            <div class="contacts">
              <a href=""><i class="fa-brands fa-github"></i>
              <a href=""><i class="fa-brands fa-linkedin"></i>
              <a href=""><i class="fa-solid fa-envelope"></i>
            </div>
          <footer></footer>
      </div>
      </div>
  </div>
</div>
