<div class="landing-page">
  <%= render "shared/navbar_home" %>
    <div class="content">
      <div class="container">
        <div class="info">
            <h1>FIND YOUR JOB DREAM</h1>
            <p>Explore boundless opportunities: Discover Your Dream Job with Us</p>
          <button>Get Started</button>
        </div>
          <div class="image">
            <img src="https://i.postimg.cc/65QxYYzh/001234.png">
          </div>
      </div>

      <div class="container">
          <div class="image">
            <%= image_tag "positions_ff.png", width: 400 %>
          </div>
        <div class="find">
            <h1>F&F helps you find a better job.</h1>
            <p>See what employees think about a company.</p>
          <button>Search for company reviews</button>
        </div>
      </div>
    </div>
</div>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero-section">
  <div class="card-grid">
    <a class="card-category" href="#">
      <div class="card__background" style="background-image: url(https://media.istockphoto.com/id/1410883722/pt/foto/house-building.jpg?s=1024x1024&w=is&k=20&c=Jw8oAZ4o1qle1SQh7Ngq__T6fQimGyLKpkjXLgs7zvw=)"></div>
      <div class="card__content">
        <p class="card__category">Job Categories</p>
        <h3 class="card__heading">Areas you are looking for</h3>
      </div>
    </a>
    <a class="card-category" href="#">
      <div class="card__background" style="background-image: url(https://media.istockphoto.com/id/1441116866/pt/foto/happy-young-caucasian-woman-student-using-laptop-computer-for-online-education-watching-the.jpg?s=1024x1024&w=is&k=20&c=wqAA_IBnXBHJsSzcDoN9W7BAYrIgXgg-uadDX6_UIp8=)"></div>
      <div class="card__content">
        <p class="card__category">Courses</p>
        <h3 class="card__heading">Learn more</h3>
      </div>
    </a>

      <a class="card-category" href=/companies>
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1570126618953-d437176e8c79?q=80&w=2878&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)"></div>
      <div class="card__content">
        <p class="card__category">List of Partner Companies</p>
        <h3 class="card__heading">Our partner companies</h3>
      </div>
    </li>
    <a class="card-category" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1487528278747-ba99ed528ebc?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></div>
      <div class="card__content">
        <p class="card__category">High-demand careers</p>
        <h3 class="card__heading">Build your future in high-demand careers</h3>
      </div>
    </a>
  <div>
</section>
