<div class="container">
  <div class="text-center">
    <h1>Companies</h1>
  </div>
  <div class="cards-companies">
    <% @companies.each do |company| %>
      <div class="card-companies">
        <div class="card-companies-info">
          <span><%= company.sector %></span>
        </div>

        <div class="card-companies-heading">
          <%= link_to company.name, company_path(company) %>
        </div>

        <div class="card-companies-tags">
          <div class="card-companies-tag">
            <%= link_to "More Details", company_path(company), class: "btn btn-primary-outline" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
