<div class="container">
  <div class='row'>
    <% @companies.each do |company| %>
      <div class='col-4'>
        <div class="card">
          <%= image_tag 'fotogrupo.jpg', class: "card-img-top"  %>
          <div class="card-body">
            <h5 class="card-title"><% company.name %></h5>
              <%= link_to company.name, company_path(company), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
