<div class="container-login">
  <div class="screen">
    <div class="screen__content">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login' }) do |f| %>
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { class: 'login__input', placeholder: 'Email', autocomplete: 'email' } %>

          <%= f.input :password,
                      required: false,
                      input_html: { class: 'login__input', placeholder: 'Password', autocomplete: 'current-password' } %>
        <button type="submit" class="button login__submit">
          <span class="button__text">Log In Now</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      <% end %>
      <%= render 'devise/shared/links' %>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
