.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 100px; /* Ajuste a altura conforme necessário */
  width: 100%;
  padding: 0 4rem;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  max-width: 100px; /* Ajuste conforme necessário para o tamanho desejado da logo */
  height: auto;
}

.home3 {
  margin: 20px;
  font-family: "Oswald", "Helvetica", "sans-serif";
  font-size: calc(1.3rem + 0.6vw);
  text-decoration: none;
  margin-left: 30px;
  color: #a4a2a2;
}
