<h1>New review</h1>
<%= simple_form_for [@company, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: (0..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating", action: "click->form-submit#submit"}}  %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
